<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Static Slider -->
  <!-- ============================================================== -->
  <div class="slider" style="background-image:url(./../assets/images/sliders/slide1.jpg)">
      <div class="container">
          <!-- Row  -->
          <div class="row justify-content-center ">
              <!-- Column -->
              <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
                  <h1 class="title">Get you own website @ <i class="fa fa-inr" aria-hidden="true"></i>4,646 only</h1>
                  <form class="m-t-20">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input class="form-control" type="text" placeholder="First Name">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input class="form-control" type="text" placeholder="Last Name">
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <input class="form-control" type="email" placeholder="Email Address">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input class="form-control" type="text" placeholder="Mobile Number">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <select class="form-control" id="sel1">
                                      <option value="personal">Personal</option>
                                      <option value="agency">Agency</option>
                                      <option value="blog">Blog</option>
                                      <option value="hospitality">Hospitality</option>
                                      <option value="party planner">Party Planner</option>
                                      <option value="company">Company</option>
                                      <option value="bussiness">Bussiness</option>
                                      <option value="ecommerce">E-commerce</option>
                                      <option value="shop">Shop</option>
                                      <option value="startup">StartUp</option>
                                      <option value="shop">Shop</option>
                                      <option value="other">Other</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-lg-12 d-flex justify-content-center">
                              <button type="submit" class="btn btn-md btn-danger-gradiant btn-arrow"><span> GRAB IT NOW <i class="ti-arrow-right"></i></span></button>
                          </div>
                      </div>
                  </form>

              </div>
              <!-- Column -->
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Static Slider  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Feature 1  -->
  <!-- ============================================================== -->
  <div class="spacer feature14">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <h2 class="m-t-20 m-b-30">Awesome with Extra Ordinary Flexibility</h2>
                  <p>You can relay on our amazing features list and also our customer services will be great experience for our users</p>
                  <p>You will surely fall in love with ready touse bootstrap ui kit framework.</p>
                  <a class="btn btn-danger-gradiant btn-md btn-arrow m-t-20 m-b-30" data-toggle="collapse" href="#"><span>View Features <i class="ti-arrow-right"></i></span></a>
              </div>
              <div class="col-lg-4 wrap-feature14-box">
                  <div class="" data-aos="flip-left" data-aos-duration="1200">
                      <img class="rounded img-responsive" src="./../assets/images/i1.jpg" alt="wrappixel kit" />
                      <div class="m-t-30">
                          <h5 class="font-medium">Retargeting Market</h5>
                          <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                      </div>
                  </div>
              </div>
              <!-- Column -->
              <div class="col-lg-4 wrap-feature14-box">
                  <div class="" data-aos="flip-up" data-aos-duration="1200">
                      <img class="rounded img-responsive" src="./../assets/images/i2.jpg" alt="wrappixel kit" />
                      <div class="m-t-30">
                          <h5 class="font-medium">Fruitful Results</h5>
                          <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                      </div>
                  </div>
              </div>
              <!-- Column -->
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Feature 1  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Feature 27  -->
  <!-- ============================================================== -->
  <div class="bg-light spacer feature1">
      <div class="container">
          <!-- Row  -->
          <div class="row justify-content-center">
              <div class="col-md-7 text-center">
                  <h2 class="title">Awesome with Extra Ordinary Flexibility</h2>
                  <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
              </div>
          </div>
          <!-- Row  -->
          <div class="row m-t-40">
              <!-- Column -->
              <div class="col-md-4 wrap-feature1-box">
                  <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
                      <div class="card-body text-center">
                          <div class="icon-space"><i class="text-danger display-4 icon-Target-Market"></i></div>
                          <h5 class="font-medium">Retargeting Market</h5>
                          <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                      </div>
                  </div>
              </div>
              <!-- Column -->
              <div class="col-md-4 wrap-feature1-box">
                  <div class="card card-shadow" data-aos="fade-up" data-aos-duration="1200">
                      <div class="card-body text-center">
                          <div class="icon-space"><i class="icon-Window-2 display-4 text-danger"></i></div>
                          <h5 class="font-medium">Fruitful Results</h5>
                          <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                      </div>
                  </div>
              </div>
              <!-- Column -->
              <div class="col-md-4 wrap-feature1-box">
                  <div class="card card-shadow" data-aos="fade-left" data-aos-duration="1200">
                      <div class="card-body text-center">
                          <div class="icon-space"><i class="text-danger display-4 icon-Sunglasses-Smiley"></i></div>
                          <h5 class="font-medium">Instant Solutions</h5>
                          <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Feature 27  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- services  -->
  <!-- ============================================================== -->
  <div class="spacer feature19 p-b-0">
      <div class="container">
          <!-- row  -->
          <div class="row">
              <div class="col-lg-7 align-self-center">
                  <h2 class="title">Awesome with Extra Ordinary Flexibility</h2>
                  <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
                  <div class="row text-inverse">
                      <div class="col-md-6 m-t-30">
                          <ul class="list-block">
                              <li><i class="sl-icon-check font-20 text-danger"></i> <span>Fast & Simple WordPress Hosting</span></li>
                              <li><i class="sl-icon-check font-20 text-danger"></i> <span>1-Click Staging Environment</span></li>
                              <li><i class="sl-icon-check font-20 text-danger"></i> <span>All-in-One Control Panel</span></li>
                          </ul>
                      </div>
                      <div class="col-md-6 m-t-30">
                          <ul class="list-block">
                              <li><i class="sl-icon-check font-20 text-danger"></i> <span>Includes 2 Wordpress Installs</span></li>
                              <li><i class="sl-icon-check font-20 text-danger"></i> <span>Host Up to 100 Websites</span></li>
                              <li><i class="sl-icon-check font-20 text-danger"></i> <span>1 TB Monthly BandWidth</span></li>
                          </ul>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12 m-t-40 m-b-30">
                          <a class="btn btn-danger-gradiant btn-md btn-arrow" data-toggle="collapse" href="#f19"><span>View Features <i class="ti-arrow-right"></i></span></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 text-center">
                  <img src="./../assets/images/services.jpg" alt="wrappixel" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="500" />
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- services   -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Portfolio 1  -->
  <!-- ============================================================== -->
  <div class="feature16">
      <div class="row wrap-feature-16">
          <div class="col-lg-6 with-bg" style="background-image:url(./../assets/images/banner-bg.jpg)"></div>
          <div class="col-lg-6 bg-inverse text-white">
              <div class="with-text">
                  <h2 class="text-white m-t-30 m-b-30">Awesome with Extra Ordinary Flexibility & Features</h2>
                  <p class="op-7">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</p>
                  <p class="op-7">You can relay on our amazing features list and also our customer services will be great experience.</p>
                  <a class="btn btn-danger-gradiant m-t-40 btn-md btn-arrow" data-toggle="collapse" href="#f16"><span>View Features <i class="ti-arrow-right"></i></span></a>
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Portfolio 1  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- services  -->
  <!-- ============================================================== -->
  <div class="spacer feature24">
      <div class="container">
          <!-- Row -->
          <div class="row client-box">
              <!-- column  -->
              <div class="col-lg-3 col-md-6">
                  <div class="d-flex no-block">
                      <div class="display-5"><i class="icon-Eyeglasses-Smiley text-danger"></i></div>
                      <div class="m-l-20">
                          <h1 class="font-light counter m-b-0">1000</h1>
                          <h6 class="text-muted font-13 text-uppercase">Happy Clients</h6>
                      </div>
                  </div>
              </div>
              <!-- column  -->
              <!-- column  -->
              <div class="col-lg-3 col-md-6">
                  <div class="d-flex no-block">
                      <div class="display-5"><i class="icon-Coffee text-danger"></i></div>
                      <div class="m-l-20">
                          <h1 class="font-light counter m-b-0">600</h1>
                          <h6 class="text-muted font-13 text-uppercase">Cups of Coffe</h6>
                      </div>
                  </div>
              </div>
              <!-- column  -->
              <!-- column  -->
              <div class="col-lg-3 col-md-6">
                  <div class="d-flex no-block">
                      <div class="display-5"><i class="icon-Business-ManWoman text-danger"></i></div>
                      <div class="m-l-20">
                          <h1 class="font-light counter m-b-0">100</h1>
                          <h6 class="text-muted font-13 text-uppercase">Dedicated staff</h6>
                      </div>
                  </div>
              </div>
              <!-- column  -->
              <!-- column  -->
              <div class="col-lg-3 col-md-6">
                  <div class="d-flex no-block">
                      <div class="display-5"><i class="icon-Trophy text-danger"></i></div>
                      <div class="m-l-20">
                          <h1 class="font-light counter m-b-0">5</h1>
                          <h6 class="text-muted font-13 text-uppercase">Awards won</h6>
                      </div>
                  </div>
              </div>
              <!-- column  -->
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- services   -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Testimonial 3  -->
  <!-- ============================================================== -->
  <div class="testimonial3 spacer bg-light">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-7 text-center">
                  <h2 class="title">Check what our Customers are Saying</h2>
                  <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
              </div>
          </div>
          <!-- Row  -->
          <div class="owl-carousel owl-theme testi3 m-t-40">
              <!-- item -->
              <div class="item" data-aos="fade-right">
                  <div class="card card-shadow">
                      <div class="card-body">
                          <h6 class="font-light m-b-30">“Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras venene veliel vestibulum.”</h6>
                          <div class="d-flex no-block align-items-center">
                              <span class="thumb-img"><img src="./../assets/images/1.jpg" alt="codepersecond" class="circle"/></span>
                              <div class="m-l-20">
                                  <h6 class="m-b-0 customer">Michelle Anderson</h6>
                                  <div class="font-10">
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-muted"><i class="fa fa-star"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- item -->
              <!-- item -->
              <div class="item" data-aos="fade-up">
                  <div class="card card-shadow">
                      <div class="card-body">
                          <h6 class="font-light m-b-30">“Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras venene veliel vestibulum.”</h6>
                          <div class="d-flex no-block align-items-center">
                              <span class="thumb-img"><img src="./../assets/images/2.jpg" alt="codepersecond" class="circle"/></span>
                              <div class="m-l-20">
                                  <h6 class="m-b-0 customer">Mark mesty</h6>
                                  <div class="font-10">
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-muted"><i class="fa fa-star"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- item -->
              <!-- item -->
              <div class="item" data-aos="fade-left">
                  <div class="card card-shadow">
                      <div class="card-body">
                          <h6 class="font-light m-b-30">“Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras venene veliel vestibulum.”</h6>
                          <div class="d-flex no-block align-items-center">
                              <span class="thumb-img"><img src="./../assets/images/3.jpg" alt="codepersecond" class="circle"/></span>
                              <div class="m-l-20">
                                  <h6 class="m-b-0 customer">Limpsy adam</h6>
                                  <div class="font-10">
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-muted"><i class="fa fa-star"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- item -->
              <!-- item -->
              <div class="item">
                  <div class="card card-shadow">
                      <div class="card-body">
                          <h6 class="font-light m-b-30">“Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras venene veliel vestibulum.”</h6>
                          <div class="d-flex no-block align-items-center">
                              <span class="thumb-img"><img src="./../assets/images/1.jpg" alt="codepersecond" class="circle"/></span>
                              <div class="m-l-20">
                                  <h6 class="m-b-0 customer">Michelle Anderson</h6>
                                  <div class="font-10">
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-danger"><i class="fa fa-star"></i></a>
                                      <a href="#" class="text-muted"><i class="fa fa-star"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- item -->
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Testimonial 3  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Pricing 2  -->
  <!-- ============================================================== -->
  <div class="pricing2 spacer" style="background-image:url(./../assets/images/pbg.jpg)">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="text-white display-5">PRICING PLANS</h1>
                  <h5 class="text-white">Select a plan to continue</h5>
              </div>
          </div>
          <div class="row pricing-box">
              <div class="col-lg-5 col-md-5">
                  <div class="card card-shadow">
                      <div class="p-40">
                          <div class="d-flex no-block align-items-center">
                              <div class="plan-text">
                                  <h4 class="m-b-0">REGULAR</h4>
                                  <h6 class="subtitle">PLAN</h6></div>
                              <div class="pricing-text ml-auto"><sup><i class="fa fa-inr" aria-hidden="true"></i></sup><span>4.6K*</span></div>
                          </div>
                          <ul class="list-inline">
                              <li>2 Proto types</li>
                              <li>6 Total Images</li>
                          </ul>
                          <a class="btn btn-outline-danger btn-md btn-arrow" data-toggle="collapse" href="#f1"><span>GET IT NOW <i class="ti-arrow-right"></i></span></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-7 above-card">
                  <div class="card card-shadow">
                      <div class="p-40">
                          <div class="d-flex no-block align-items-center">
                              <div class="plan-text">
                                  <h4 class="m-b-0">AWESOME</h4>
                                  <h6 class="subtitle">PLAN</h6></div>
                              <div class="pricing-text ml-auto"><sup><i class="fa fa-inr" aria-hidden="true"></i></sup><span>10K</span></div>
                          </div>
                          <ul class="list-inline">
                              <li>Unlimited Proto types</li>
                              <li>Unlimited Images</li>
                              <li>5 Users</li>
                              <li>Quick editer</li>
                          </ul>
                          <a class="btn btn-danger-gradiant btn-md btn-arrow" data-toggle="collapse" href="#f1"><span>BUY THE PLAN <i class="ti-arrow-right"></i></span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Pricing 2  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Cleint  -->
  <!-- ============================================================== -->
  <div class="client2 spacer p-t-0">
      <div class="container">
          <div class="row client-box text-center op-7">
              <div class="col-lg-2 col-md-4">
                  <img src="./../assets/images/client/c1.png" alt="codepersecond">
              </div>
              <div class="col-lg-2 col-md-4">
                  <img src="./../assets/images/client/c2.png" alt="codepersecond">
              </div>
              <div class="col-lg-2 col-md-4">
                  <img src="./../assets/images/client/c3.png" alt="codepersecond">
              </div>
              <div class="col-lg-2 col-md-4">
                  <img src="./../assets/images/client/c4.png" alt="codepersecond">
              </div>
              <div class="col-lg-2 col-md-4">
                  <img src="./../assets/images/client/c5.png" alt="codepersecond">
              </div>
              <div class="col-lg-2 col-md-4">
                  <img src="./../assets/images/client/c6.png" alt="codepersecond">
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- Cleint  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Form 2  -->
  <!-- ============================================================== -->
  <!-- <div class="spacer form2 bg-light">
      <div class="container">
          <div class="row"> -->
              <!-- Column -->
             <!-- <div class="col-lg-7 p-r-40" data-aos="flip-up" data-aos-duration="1200">
                  <img src="./../assets/images/f1.jpg" class="img-shadow img-responsive" alt="codepersecond" />
              </div>
              <div class="col-lg-5">
                  <div class="text-box" data-aos="fade-left" data-aos-duration="1200">
                      <h1 class="">Create your Free Account & Get Started</h1>
                      <p class="m-t-30 m-b-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy consectetuer adipiscing.</p>
                      <form class="m-t-20">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div class="form-group">
                                      <input class="form-control" type="email" placeholder="email address">
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input class="form-control" type="password" placeholder="password">
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input class="form-control" type="password" placeholder="confirm password">
                                  </div>
                              </div>
                              <div class="col-lg-12 d-flex">
                                  <button type="submit" class="btn btn-md btn-danger-gradiant btn-arrow"><span> Create Account <i class="ti-arrow-right"></i></span></button>
                                  <div class="have-ac ml-auto align-self-center">or <a href="#" class="text-danger"> Sign In</a></div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>-->
  <!-- ============================================================== -->
  <!-- End Form 2  -->
  <!-- ============================================================== -->
</div>
